Package: YOUR_UNIQUE_ID
Name: YOUR_PACKAGE_NAME
Depends: firmware (>= 6.0), com.andyibanez.sideswitch
Version: YOUR_VERSION
Architecture: iphoneos-arm
Description: YOUR_DESCRIPTION
Maintainer: MAINTAINER_NAME
Author: AUTHOR_NAME
Section: Addons (Sideswitch Toggles)